:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.wrap {
  position: relative;
  z-index: 1;
  margin: 0 var(--M);
  min-height: calc(100vh - 110px);
  border-left: 1px solid rgba(var(--ar), 0.06);
  border-right: 1px solid rgba(var(--ar), 0.06);
  padding-bottom: 24px;
}

.ct {
  padding: 8px 24px 24px;

  @media (max-width: 480px) {
    padding: 4px 12px 14px;
  }

  @media (min-width: 481px) and (max-width: 768px) {
    padding: 6px 16px 18px;
  }
}
